body{ background-color: #8DECB4;  
}
#contenedor2{ font-family: "Platypi", serif; background-color:#FFF5E0}
#imagen6, #imagen7, #imagen8, #imagen9{width: 400px;}
#parrafo{text-align: justify; background-color:#FFF5E0; font-family: "Platypi", serif;}
#contenedor3{background-color:#141E46}