body{ background-color: #41B06E;
    
}
h1{ text-align: center;}
#Derecha{align-content: center}
#Name{
    font-weight: bolder; text-align: center;}
#contact{text-align: center;}
#imagen2, #imagen3, #imagen4{width: 50px;}
#contenedor, #home{ font-family: "Platypi", serif; background-color:#FFF5E0; font-size: 18px;}
#titulo{font-family: "Platypi", serif;; font-size: 40px;
background-color:#8DECB4}

#informacion, #informacion1, #informacion2, #informacion3 {background-color: #8DECB4}

#informacion{ align-items: center;}

#fondo{background-color:#141E46}